

/* .formWrapper{
  display: table-caption;
} */

form{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-top: 5rem;
}

#bodyField{
  height: 17rem;
  width: 70rem;
}

